*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}
.container{
   width: 100vw;
   min-height: 100vh;
   background: rgb(245,220,138);
   background: radial-gradient(circle, rgba(245,220,138,1) 0%, rgba(243,222,145,1) 0%,
      rgba(241,224,152,1) 0%, rgba(205,248,204,0.9996790952709209) 22%, rgba(255,223,116,1) 35%,
      rgba(180,247,174,0.9996790952709209) 47%, rgba(248,161,209,1) 57%,
      rgba(218,246,218,0.9996790952709209) 73%, rgba(223,243,221,0.9884746134782038) 74%,
      rgba(253,220,242,1) 100%); 
}
.container h1{
   font-size: 40px;
   color: rgb(56, 2, 66);
   margin-bottom: 20px;
   text-decoration:underline;
   text-shadow: 5px 5px 5px rgb(20, 1, 38);
   text-decoration-thickness: 5px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
#gallery{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: flex-start;
   justify-content: center; 
}
.box{
   width: 300px;
   height: 300px;
   background-color: blanchedalmond;
   border-radius: 5px;
   border: 2px solid black;
   margin: 10px;
   background-size: cover;
}
.box:hover{
   transition: all 0.5s linear;
   transform: scale(120%);
}

.box:first-child{
      background-image: url(https://images.pexels.com/photos/1559817/pexels-photo-1559817.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}
.box:nth-child(2){
      background-image: url(https://images.pexels.com/photos/2725982/pexels-photo-2725982.jpeg?auto=compress&cs=tinysrgb&w=600)
}
.box:nth-child(3){
      background-image: url(https://images.pexels.com/photos/21915064/pexels-photo-21915064/free-photo-of-choice-of-tulips-and-other-flowers.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.box:nth-child(4){
      background-image: url(https://images.pexels.com/photos/3867210/pexels-photo-3867210.jpeg);
}
.box:nth-child(5){
      background-image: url(https://images.pexels.com/photos/3225528/pexels-photo-3225528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}
.box:last-child{
      background-image: url(https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
}
